<mat-card>
  <mat-card-title class="text-center">Deletar Clientes</mat-card-title>
  <form class="container" (submit)="submit(form)" #form="ngForm">
      <mat-form-field >
        <mat-label>Nome completo:</mat-label>
        <input
          matInput
          name="nome"
          [(ngModel)]="cliente.nome"
          disabled
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email:</mat-label>
        <input
          disabled
          matInput
          name="email"
          [(ngModel)]="cliente.email"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Contato:</mat-label>
        <input
          disabled
          matInput
          name="contato"
          [(ngModel)]="cliente.contato"
        />
      </mat-form-field>
      <mat-form-field >
        <mat-label>Livros emprestados:</mat-label>
        <input
          matInput
          disabled
          name="quantidade"
          [ngModel]="cliente.livrosEmprestados"
        />
      </mat-form-field>
      <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary"> &nbsp;&nbsp;Deletar&nbsp;&nbsp;</button>
        <button mat-raised-button routerLink="/clientes/listar" color="warn">Cancelar&nbsp;</button>
      </div>
  </form>
</mat-card>
