<mat-form-field class="example-full-width espaco" appearance="fill">
  <mat-label>pesquisar na tabela</mat-label>
  <input matInput placeholder="Pesquisar Cliente" #input
  (keyup)="applyFilter($event)" >
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
    <mat-cell  *matCellDef="let row"> {{row.email}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="contato">
    <mat-header-cell *matHeaderCellDef> Contato </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.contato}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef style="width:180px"> Ações </mat-header-cell>
    <mat-cell *matCellDef="let row" style="width:180px">
      <button routerLink="/clientes/editar/{{row.email}}" mat-raised-button color="accent" class="me-2">
        Editar&nbsp;
      </button>
      <button routerLink="/clientes/deletar/{{row.email}}" mat-raised-button color="warn" class="">
        Deletar&nbsp;&nbsp;&nbsp;
      </button>

    </mat-cell>
  </ng-container>

  <tr class="mat-row " *matNoDataRow>
    <td class="mat-cell" colspan="4">Nenhum item cadastrado</td>
  </tr>

</mat-table>
<mat-paginator [length]="tamanho"
              [pageSize]="5"
              [pageSizeOptions]="[3,5,10]"
              aria-label="Select page">
</mat-paginator>
<br>
<div class="w-100 mb-3">
  <button routerLink="/clientes/cadastrar" mat-raised-button color="primary" class="">
    Cadastrar novo cliente
  </button>
</div>



