
<mat-form-field class="example-full-width espaco" appearance="fill">
  <mat-label>pesquisar na tabela</mat-label>
  <input matInput placeholder="Pesquisar Autor"
  (keyup)="applyFilter($event)" >
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- User name Definition -->
  <ng-container matColumnDef="cliente">
    <mat-header-cell *matHeaderCellDef> Nome do Cliente</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.cliente.nome}} </mat-cell>
  </ng-container>

  <!-- Age Definition -->
  <ng-container matColumnDef="livro">
    <mat-header-cell *matHeaderCellDef> Autor  </mat-header-cell>
    <mat-cell  *matCellDef="let row"> {{row.livro.nomeLivro}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="data">
    <mat-header-cell *matHeaderCellDef>data de publicação</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.dataInicio}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef style="width:180px"> Ações </mat-header-cell>
    <mat-cell *matCellDef="let row" style="width:180px">
      <button routerLink="/livros/editar/{{row.ISBN}}" mat-raised-button color="accent" class="me-2">
        Editar&nbsp;
      </button>
      <button routerLink="/livros/deletar/{{row.ISBN}}" mat-raised-button color="warn" class="">
        Excluir&nbsp;&nbsp;
      </button>

    </mat-cell>
  </ng-container>

</mat-table>
<mat-paginator
[length]="tamanho"
[pageSize]="5"
[pageSizeOptions]="[5]"
aria-label="Select page">
</mat-paginator>
<br>

<div class="w-100 mb-3">
  <button routerLink="/livros/cadastrar" mat-raised-button color="primary" class="">
    Cadastrar novo Livro
  </button>
</div>
