form {
  display: flex;
  flex-direction: column;
  width: 500px;

}
mat-form-field.mat-form-field {
  font-size: 18px;
}

button{
  margin-right: 10px;
  margin-top: 5px;
}

.margem{
  margin-bottom: 20px;
}




