<mat-card class="card margem">
  <mat-card-title class="text-center">Deletar Autores</mat-card-title>
  <form class="container" (submit)="submit(form)" #form="ngForm">
      <mat-form-field >

        <mat-label>Nome completo:</mat-label>
        <input
         disabled
          matInput
          name="nome"
          [(ngModel)]="autor.nome"
          #nome="ngModel"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email:</mat-label>
        <input
          disabled
          matInput
          name="email"
          [(ngModel)]="autor.email"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>ISNI:</mat-label>
        <input
          disabled
          matInput
          name="ISNI"
          [(ngModel)]="autor.ISNI"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Data de nascimento:</mat-label>
        <input
           disabled
          matInput
          name="dataNascimento"
          [(ngModel)]="autor.dataNascimento"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Biografia:</mat-label>
        <textarea
          rows="3"
          disabled
          matInput
          name="biografia"
          [(ngModel)]="autor.biografia"
        ></textarea>
      </mat-form-field>


      <div class="example-button-row">
        <button mat-raised-button type="submit" color="primary"> &nbsp;&nbsp;&nbsp;Deletar&nbsp;&nbsp;&nbsp;</button>
        <button mat-raised-button routerLink="/autores/listar" color="warn">Cancelar&nbsp;</button>
      </div>
  </form>
</mat-card>
