<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title>Biblioteca</mat-card-title>
    <mat-card-subtitle>Sistema de Empréstimos de Livros</mat-card-subtitle>
    <mat-card-content>
      <p class="lead">
        "Não há no mundo livros que se devam ler, mas somente livros que uma
        pessoa deve ler em certo momento, em certo lugar, dentro de certas
        circunstâncias e num certo período da sua vida."
        <br />
        <br />
        Lin Yutang.
      </p>
      <hr class="my-2" />
      <p>
        <img src="assets/imgs/imagem3.jpg" class="img-fluid" alt="">
      </p>
    </mat-card-content>

  </mat-card>
</div>
