<mat-card class="card">
  <mat-card-title class="text-center">Cadastro de Livros</mat-card-title>
  <form class="container" (submit)="submit(form)" #form="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome do livro:</mat-label>
        <input
          matInput
          disabled
          name="nomeLivro"
          [(ngModel)]="livro.nomeLivro"
        />

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome da editora:</mat-label>
        <input
          matInput
          disabled
          name="nomeEditora"
          [(ngModel)]="livro.nomeEditora"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome do autor:</mat-label>
        <mat-select disabled [(ngModel)]="livro.autor" name="autor" disableRipple>
          <mat-option  *ngFor="let autor of autores" [value]="autor">{{autor.nome}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Data de publicação:</mat-label>
        <input
        type="date"
        disabled
        matInput
        name="anoPublicacao"
        [(ngModel)]="livro.anoPublicacao"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>Quantidade de livros:</mat-label>
        <input
          matInput
          disabled
          name="quantidade"
          [(ngModel)]="livro.quantidade"
        />
      </mat-form-field>

      <mat-form-field >
        <mat-label>ISBN:</mat-label>
        <input
          matInput
          disabled
          name="ISBN"
          [(ngModel)]="livro.ISBN"
        />
      </mat-form-field>



      <div class="example-button-row">
        <button mat-raised-button [disabled]="form.invalid" type="submit" color="primary"> Deletar</button>
        <button mat-raised-button routerLink="/livros/listar" color="warn">&nbsp;Cancelar&nbsp; &nbsp;</button>
      </div>

  </form>
</mat-card>
<br>

